/* Element */

.logo-image {
    position: absolute;
    width: 22rem;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.button-area {
    position: absolute;
    width: calc(100% - 6rem);
    height: 8rem;
    bottom: 12rem;
    margin: 0 3rem;
    opacity: 0.0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    pointer-events: none;
}

.button-area button {
    font-family: "ChosunGs";
    font-size: 2rem;
    background: transparent;
    color: #740c0c75;
    border: none;
    border-bottom: 1px dashed #ffffff28;
}

.button-area button:hover {
    color: #740c0c;
    border-bottom: 1px dashed #ffffff38;
}

.infomation {
    position: absolute;
    font-family: "Ramche";
    bottom: 2rem;
    color: #ffffff46;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 0.9rem;
    opacity: 0.0;
}

kita-layer {
    transition: 3s steps(15);
    pointer-events: none;
}

.exit {
    opacity: 0.0;
}

/* Animation */

.logo-animation {
    animation: first-intro 10s steps(75) forwards;
}

.button-animation {
    animation: button-fade 2s steps(10) forwards;
}

.infomation-animation {
    animation: infomation-fade 1s steps(4) forwards;
}

@keyframes first-intro {
    0% {
        opacity: 0.0;
        top: 100%;
    }

    100% {
        opacity: 1.0;
        top: 10rem;
    }
}

@keyframes button-fade {
    0% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
        pointer-events: all;
    }
}

@keyframes infomation-fade {
    0% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}