button {
    cursor: url("../Asset/Texture/CursorHand.png"), auto !important
}

.btn-ui button {
    font-family: "PFStardust";
    letter-spacing: -8px;
    font-size: 2.9rem;
    background: transparent;
    color: #535753;
    border: none;
    border-bottom: 1px dashed #535753;
    outline: none !important;
    line-height: 3rem;
}

.btn-ui button:hover {
    background: linear-gradient(180deg, hsla(143, 15%, 41%, 1) 0%, hsla(143, 15%, 41%, 1) 88%, hsla(0, 0%, 0%, 1) 88%, hsla(0, 0%, 0%, 1) 100%);
    color: #000000;
}