@font-face {
    font-family: 'Ramche';
    src: url('../Asset/Font/Ramche.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sam3KRFont';
    src: url('../Asset/Font/Sam3KRFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFStardust';
    src: url('../Asset/Font/PFStardust.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}