.main-layer {
    position: absolute;
    width: calc(100% - 8rem);
    height: calc(100% - 6rem);
    display: flex;
    flex-direction: column;
    background: #000000;
    margin: 3rem 4rem;
}

.top-layer,
.bottom-layer {
    position: relative;
    width: 100%;
}

.top-layer {
    height: 100%;
    transition: 0.75s ease-in;
    opacity: 0.0;
}

.fade-opening .top-layer {
    height: 20%;
    opacity: 1.0;
}

.bottom-layer {
    height: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.75s ease-in;
    transition-delay: 0.75s;
    opacity: 0.0;
}

.fade-opening .bottom-layer {
    height: 80%;
    opacity: 1.0;
}

.outside {
    position: absolute;
    width: 35%;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

kita-layer {
    opacity: 0.0;
    transition: 0.5s steps(4);
}

.fade-opening {
    opacity: 1.0;
}

.person-area,
.detect-area {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.person-area {
    width: 40rem;
    background: #1D1415;
}

.detect-area {
    width: calc(100% - 40rem - 2rem);
    margin-left: 2rem;
    background: #0F0B0A;
}

.table {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 10;
}

.person-bg {
    position: absolute;
    width: 100%;
    z-index: 0;
}

.lay-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: 50;
    filter: blur(48px);
    -webkit-filter: blur(48px);
}

.person-shadow {
    position: absolute;
    width: 10%;
    top: 35%;
    animation: person-move 15s cubic-bezier(.58,.7,.61,.89) infinite;
    transform: translate(0%, -50%);
}

@keyframes person-move {
    0% {
        top: 35%;
        transform: translate(0%, -50%);
    }

    20% {
        top: 30%;
    }

    25% {
        top: 35%;
    }

    30% {
        top: 30%;
    }

    35% {
        top: 35%;
    }

    40% {
        top: 30%;
    }

    45% {
        top: 35%;
    }

    50% {
        top: 30%;
    }

    55% {
        top: 35%;
    }

    60% {
        top: 30%;
    }

    65% {
        top: 35%;
    }

    70% {
        top: 30%;
    }

    100% {
        transform: translate(1000%, -50%);
    }
}

.work-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.5;
}

/* item css */

.document-item {
    position: absolute;
    z-index: 1;
    background: #e9ebea;
    background-image: url(../Asset/Texture/paper.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid #00000020;
    border-left: 1px solid #00000020;
    border-bottom: 6px solid #00000040;
    border-right: 6px solid #00000040;
    filter: drop-shadow(12px 12px 0 #00000040);
    -webkit-filter: drop-shadow(12px 12px 0 #00000040);
}

.z-up {
    z-index: 2;
}

.cost-size {
    width: 19rem;
    height: 24rem;
}

.document-item p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 1rem 0 0 18px;
    padding: 0;
    font-family: 'PFStardust';
    font-weight: bold;
    font-size: 1.15rem;
    line-height: 1.4rem;
    color: #363636;
}

.paper-mark {
    position: absolute;
    width: 76px;
    bottom: 0.4rem;
    right: 0.7rem;
    opacity: 0.7;
}