.main-layer {
    position: absolute;
    width: calc(100% - 8rem);
    height: calc(100% - 6rem);
    display: flex;
    flex-direction: column;
    background: #000000;
    margin: 3rem 4rem;
}

.top-layer,
.bottom-layer {
    position: relative;
    width: 100%;
}

.top-layer {
    height: 100%;
    transition: 1s ease-in;
    opacity: 0.0;
}

.fade-opening .top-layer {
    height: 20%;
    opacity: 1.0;
}

.bottom-layer {
    height: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.75s ease-in;
    transition-delay: 4s;
    opacity: 0.0;
}

.fade-opening .bottom-layer {
    height: 80%;
    opacity: 1.0;
}

.outside {
    position: absolute;
    width: 35%;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

kita-layer {
    opacity: 0.0;
    transition: 0.5s steps(4);
}

.fade-opening {
    opacity: 1.0;
}

.person-area,
.detect-area {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.person-area {
    width: 35rem;
    background: #1D1415;
}

.detect-area {
    width: calc(100% - 35rem);
    background: #0F0B0A;
}

.table {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 10;
    pointer-events: none;
}

.person-bg {
    position: absolute;
    width: 100%;
    z-index: 5;
    pointer-events: all;
}

.lay-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: screen;
    pointer-events: none;
    z-index: 50;
    opacity: 0.25;
    filter: blur(48px);
    -webkit-filter: blur(48px);
}

.person-shadow {
    position: absolute;
    width: 10%;
    top: 35%;
    animation: person-move 15s cubic-bezier(.58,.7,.61,.89) infinite;
    transform: translate(0%, -50%);
}

@keyframes person-move {
    0% {
        top: 35%;
        transform: translate(0%, -50%);
    }

    20% {
        top: 30%;
    }

    25% {
        top: 35%;
    }

    30% {
        top: 30%;
    }

    35% {
        top: 35%;
    }

    40% {
        top: 30%;
    }

    45% {
        top: 35%;
    }

    50% {
        top: 30%;
    }

    55% {
        top: 35%;
    }

    60% {
        top: 30%;
    }

    65% {
        top: 35%;
    }

    70% {
        top: 30%;
    }

    100% {
        transform: translate(1000%, -50%);
    }
}

.work-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.5;
}

/* item css */

.document-item {
    position: absolute;
    z-index: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid #00000020;
    border-left: 1px solid #00000020;
    border-bottom: 3px solid #00000040;
    border-right: 3px solid #00000040;
    filter: drop-shadow(6px 6px 0 #00000040);
    -webkit-filter: drop-shadow(6px 6px 0 #00000040);
    opacity: 0.0;
    transition: 0.1s ease-in-out;
    image-rendering: optimizeSpeed;
}

.z-up {
    z-index: 2;
    transition: none;
}

.cost-size {
    background-image: url(../Asset/Texture/paper.png);
    background-color: transparent;
    width: 19rem;
    height: 24rem;
}

.passport-size {
    background-image: url(../Asset/Texture/passport.png);
    background-color: transparent;
    width: 23rem;
    height: 29rem;
}

.note-size {
    background-image: url(../Asset/Texture/note.png);
    width: 21rem;
    height: 27rem;
}

.document-item p {
    position: absolute;
    width: calc(100% - 18px);
    height: calc(100% - 1rem);
    margin: 1rem 0 0 18px;
    padding: 0;
    font-family: 'PFStardust';
    font-weight: bold;
    font-size: 1.15rem;
    line-height: 1.4rem;
    color: #363636;
    pointer-events: none;
    white-space: nowrap;
}

.itr-body .can-select {
    outline: 2px solid #ffffffff;
}

.itr-body .can-select:hover {
    outline: 4px solid #ffffff;
}

.note-size p {
    width: calc(100% - 2.25rem - 2rem);
    height: calc(100% - 2rem);
    margin: 1rem 2rem 1rem 2.25rem;
    color: #534845;
    display: flex;
    flex-direction: column;
}

.note-size p img {
    width: 100%;
    height: 100%;
}

.paper-mark {
    position: absolute;
    width: 76px;
    bottom: 0.4rem;
    right: 0.7rem;
    opacity: 0.7;
}

.paper-print:not(.passport-size, .note-size) {
    animation: print-animation-1 1.7s forwards cubic-bezier(0,1,0,1);
    opacity: 1.0;
}

.paper-print:not(.cost-size) {
    animation: print-animation-2 1.7s forwards cubic-bezier(0,1,0,1);
    opacity: 1.0;
}

@keyframes print-animation-1 {
    0% {
        transform: translateX(200%) translateY(5%) rotate(15deg) skew(-5deg);
    }

    100% {
        transform: translateX(0%) translateY(0%) rotate(-1deg) skew(0deg);
    }
}

@keyframes print-animation-2 {
    0% {
        transform: translateX(200%) translateY(5%) rotate(15deg) skew(-5deg);
    }

    100% {
        transform: translateX(0%) translateY(0%) rotate(0deg) skew(0deg);
    }
}


.scale-up {
    transform: rotate(-1deg) scale(105%) !important;
    filter: drop-shadow(12px 12px 1px #00000025) drop-shadow(0px 0px 4px #0000001a);
    -webkit-filter: drop-shadow(12px 12px 1px #00000025) drop-shadow(0px 0px 4px #0000001a);
}

.scale-up:not(.cost-size) {
    transform: rotate(0deg) scale(105%) !important;
}

.date-counter {
    position: absolute;
    bottom: 25%;
    color: #ca2e2c;
    left: 50%;
    transform: translate(-50%, -50%) scale(105%) rotate(1deg);
    font-size: 3.5rem;
    font-family: 'PFStardust';
    font-weight: bold;
    opacity: 0.0;
    transition: 0.5s steps(7);
    text-align: center;
    line-height: 4rem;
    padding: 3rem;
    border: 3px dashed #ca2e2c;
    pointer-events: none;
}

.date-view {
    transform: translate(-50%, -50%) scale(100%) rotate(-1deg);
    opacity: 1.0;
}

.stamp {
    position: absolute;
    width: 470px;
    height: 231px;
    right: -433px;
    top: 40%;
    transform: translateY(-50%);
    z-index: 5;
    filter: drop-shadow(-4px 1px 0 #00000020);
    -webkit-filter: drop-shadow(-4px 1px 0 #00000020);
    transition: 0.5s cubic-bezier(.07,1.16,.24,.87);
}

.stamp-outline {
    position: absolute;
    width: 100%;
    pointer-events: none;
    z-index: 5;
}

.stamp-bottom {
    position: absolute;
    bottom: -50px;
    width: 100%;
    pointer-events: none;
    z-index: 7;
}

.stamp-open {
    right: -80px;
    transition: 0.75s cubic-bezier(.07,1.16,.09,1.06);
}

.stamp-filp {
    position: absolute;
    width: 35px;
    height: 165px;
    top: 65%;
    transform: translateY(-50%);
    left: 0;
    z-index: 8;
}

.stamp-pass {
    position: absolute;
    width: 273px;
    z-index: 5;
    right: 121.5px;
    top: 60%;
    transform: translateY(-50%);
    transition: 0.15s cubic-bezier(.07,1.16,.09,1.06);
}

.stamp-button {
    position: absolute;
    width: 105px;
    right: 205px;
    top: 15%;
    transform: translateY(-50%);
    transition: 0.15s cubic-bezier(.07,1.16,.09,1.06);
    transition-delay: 0.03s;
    pointer-events: none;
    z-index: 8;
}

.stamp-shadow {
    position: absolute;
    width: 95px;
    right: 210.5px;
    top: 33%;
    transition-delay: 0.03s;
    transform: translateY(-50%);
    transition: 0.15s cubic-bezier(.07,1.16,.09,1.06);
    pointer-events: none;
    z-index: 7;
}

.stamp-check1 {
    background-image: url(../Asset/Texture/passport_stamp1.png);
}

.stamp-check2 {
    background-image: url(../Asset/Texture/passport_stamp2.png);
}

.stamp-check3 {
    background-image: url(../Asset/Texture/passport_stamp3.png);
}

.stamp-down {
    transform: translateY(-35%);
}

.stamp-btn-down {
    transform: translateY(-10%);
}

.stamp-shadow-down {
    transform: translateY(15%) scaleX(120%);
}

.paper-left,
.paper-right {
    width: 42px;
    height: 42px;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0;
}

.paper-left {
    background-image: url(../Asset/Texture/paper_left.png);
    filter: drop-shadow(-4px 4px 0 #00000020);
    -webkit-filter: drop-shadow(-4px 4px 0 #00000020);
    left: 0;
}

.note-size .paper-left,
.note-size .paper-right {
    bottom: 0.45rem;
}

.note-size .paper-left {
    background-image: url(../Asset/Texture/note_left.png);
    left: 1.1rem;
}

.paper-right {
    background-image: url(../Asset/Texture/paper_right.png);
    filter: drop-shadow(4px 4px 0 #00000020);
    -webkit-filter: drop-shadow(4px 4px 0 #00000020);
    right: 0;
}

.note-size .paper-right {
    background-image: url(../Asset/Texture/note_right.png);
    right: 1.5rem;
}

.disable {
    opacity: 0.0;
    pointer-events: none !important;
}

.passport-small {
    opacity: 0.0 !important;
    pointer-events: none;
}

.mini-passport {
    position: absolute;
    width: 84px;
    pointer-events: none;
    filter: drop-shadow(2px 8px 0 #ffffff10);
    display: none;
    z-index: 10;
}

.mpshow {
    display: block !important;
}

.mpani {
    display: block;
    animation: 0.4s mpani-drop forwards;
    z-index: 7;
}

@keyframes mpani-drop {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(500%);
    }
}

.tooltip {
    width: calc(557px / 3.5);
    height: calc(133px / 3.5);
    background: url(../Asset/Texture/tooltip.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 10;
    pointer-events: none;
    display: none;
    filter: drop-shadow(0 4px 0 #000000a7);
    -webkit-filter: drop-shadow(0 4px 0 #000000a7);
}

.mini-tip {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.2rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
    pointer-events: none;
    color: #3d2f29;
    font-family: "PFStardust";
}

.interrogate {
    position: absolute;
    width: calc(1200px / 14);
    height: calc(852px / 14);
    outline: none;
    border: none;
    bottom: 0;
    right: 0;
    background-color: transparent;
    background-image: url(../Asset/Texture/interrogate_enable.png);
    background-position: center;
    background-size: cover; 
    z-index: 12;
}

.search {
    position: absolute;
    width: calc(1200px / 14);
    height: calc(852px / 14);
    outline: none;
    border: none;
    bottom: -25px;
    left: -25px;
    background-color: transparent;
    background-image: url(../Asset/Texture/search.png);
    background-position: center;
    background-size: cover; 
    z-index: 12;
    opacity: 0.0;
    pointer-events: none;
    transition: 0.125s ease-in-out;
}

.next {
    position: absolute;
    width: calc(1200px / 14);
    height: calc(852px / 14);
    outline: none;
    border: none;
    bottom: 0;
    left: 0;
    background-color: transparent;
    background-image: url(../Asset/Texture/next.png);
    background-position: center;
    background-size: cover; 
    z-index: 7;
    opacity: 1.0;
    pointer-events: all;
    transition: 0.125s ease-in-out;
}

.itr-body .next {
    opacity: 0.0;
    pointer-events: none;
    bottom: -25px;
    left: -25px;
}

.search-start {
    bottom: 0px;
    left: 0px;
    opacity: 1.0;
    pointer-events: all;
}

.search span {
    position: absolute;
    color: #028d3c;
    font-family: 'PFStardust';
    opacity: 0.0;
    font-size: 1.75rem;
    line-height: 1.75rem;
    font-weight: bold;
    transition: 0.25s cubic-bezier(.24,1.1,.23,.92);
    bottom: 0.5rem;
    text-align: left;
    right: 5rem;
    white-space: nowrap;
}

.interrogate span {
    position: absolute;
    color: #99332D;
    font-family: 'PFStardust';
    opacity: 0.0;
    font-size: 1.75rem;
    line-height: 1.75rem;
    font-weight: bold;
    transition: 0.25s cubic-bezier(.24,1.1,.23,.92);
    bottom: 0.5rem;
    text-align: right;
    left: 5rem;
    white-space: nowrap;
}

.itr-start {
    background-image: url(../Asset/Texture/interrogate_disable.png);
}

.itr-start span {
    left: -10.5rem;
    opacity: 1.0;
}

.search-start span {
    right: -7.25rem;
    transition: 0.25s cubic-bezier(.24,1.1,.23,.92);
    opacity: 1.0;
    z-index: 1;
}

.itr-animation {
    animation: itr-frame 0.25s ease-in-out forwards;
    pointer-events: none;
}

.search-animation span {
    transform: translate(-0.75rem, -1.75rem);
}

@keyframes itr-frame {
    0% {
        bottom: 0;
        right: 0;
        pointer-events: none;
    }

    50% {
        bottom: -25px;
        right: -25px;
        pointer-events: none;
    }

    100% {
        bottom: 0;
        right: 0;
        pointer-events: none;
    }
}

.search-animation {
    animation: search-frame 0.25s ease-in-out forwards;
    pointer-events: none;
}

@keyframes search-frame {
    0% {
        bottom: 0;
        left: 0;
        pointer-events: none;
    }

    50% {
        bottom: -25px;
        left: -25px;
        pointer-events: none;
    }

    100% {
        bottom: 0;
        left: 0;
        pointer-events: none;
    }
}

.itr-filter {
    position: absolute;
    width: 0%;
    height: 100%;
    right: 0;
    background: #00000080;
    pointer-events: none;
    opacity: 0.0;
    transition: 0.4s cubic-bezier(.24,1.1,.23,.92);
    z-index: 10;
}

.itr-filter-enable {
    opacity: 1.0;
    width: 100%;
}

.profile-area {
    position: absolute;
    bottom: 1rem;
    width: calc(100% - 2rem);
    height: 12rem;
    margin: 0 1rem;
}

.pages .header {
    width: 100%;
    margin: 0.5rem 0;
    font-family: "Sam3KRFont";
    color: #939578;
    font-size: 1.75rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.big {
    font-size: 3rem !important;
    margin: 1rem 0 !important;
}

.pages .hr {
    width: calc(100% - 1rem);
    margin: 0rem 0.5rem 0.5rem 0.5rem;
    border-top: 2px dashed #939578;
}


.pages .list{
    width: calc(100% - 2rem);
    margin: 0.5rem 1rem;
}

.pages .list:has(.can-select) {
    width: calc(100% - 1rem) !important;
    margin: 0.5rem 0.5rem !important;
}

.pages .list {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.pages .list .item::before {
    content: "⦁";
    margin-right: 0.75rem;
    line-height: 0.3rem;
    font-size: 1.5rem;
}

.pages .list .item {
    width: fit-content;
    padding: 0.125rem 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.35rem;
    font-size: 1.3rem;
    pointer-events: all;
}


.disable .list .item {
    pointer-events: none !important;
}

.pages .list .item {
    background: #554846;
    color: #E3E6C0;
}

.pages .list .can-select {
    background: transparent !important;
    color: #554846;
    font-size: 1.15rem;
    margin-bottom: 0.2rem;
    white-space: nowrap;
    pointer-events: none;
}

.itr-body .pages .list .can-select {
    pointer-events: all;
}

.itr-body .pages .disable .list .can-select {
    pointer-events: none !important;
}

.pages .list .can-select::before {
    content: "▌ ";
    margin-right: -0.4rem;
    line-height: 0.3rem;
    font-size: 1.3rem;
    color: #babd9b;
}

.inner-image {
    width: calc(100% - 1rem);
    height: calc(100% - 3rem);
    margin: 0rem 0.5rem;
}

.inner-small-image {
    position: absolute;
    width: calc(100% - 1rem);
    height: 6.5rem;
    bottom: 2rem;
    margin: 0rem 0.5rem;
}

.super-z {
    z-index: 11;
    outline: 5px solid white;
}

.z-up-i {
    z-index: 11 !important;
    outline: 4px solid #ffffff !important;
    isolation: isolate !important;
    mix-blend-mode: difference !important;
    color: #babd9b !important;
}

.text-tooltip {
    position: absolute;
    color: #ffffff;
    z-index: 11;
    font-size: 1.4rem;
    font-family: 'PFStardust';
    text-align: left;
    opacity: 0.0;
    line-height: 1.4rem;
}

.ttooltip-display {
    animation: ttooltip-animation 1.75s forwards;
}

@keyframes ttooltip-animation {
    0% {
        opacity: 0.0;
    }

    60% {
        opacity: 0.0;
    }

    61% {
        opacity: 1.0;
    }

    65% {
        opacity: 1.0;
    }

    66% {
        opacity: 0.0;
    }

    70% {
        opacity: 0.0;
    }

    71% {
        opacity: 1.0;
    }

    75% {
        opacity: 1.0;
    }

    76% {
        opacity: 0.0;
    }

    80% {
        opacity: 0.0;
    }

    81% {
        opacity: 1.0;
    }

    100% {
        opacity: 1.0;
    }
}

.img-preloader {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.0;
}