* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    cursor: url("../Asset/Texture/cursor.png"), default;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background: #000;
}

kita-layer {
    position: absolute;
    width: 100%;
    height: calc(100vw / (16 / 9));
    max-height: 100%;
    max-width: calc(100vh / (9 / 16));
    overflow: hidden;
    background: #000;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: all;
}

kita-logger {
    position: absolute;
    height: fit-content;
    z-index: 100;
    text-align: left;
    font-family: monospace;
    white-space: nowrap;
    color: #ffffff;
    font-size: 0.75rem;
    overflow-x: hidden;
    overflow-y: visible;
    bottom: 0;
    opacity: 0.5;
    pointer-events: none;
}

.engine-version::after {
    content: "KITA ENGINE v701";
}

.engine-version:hover::after {
    content: "PLAYLABS에 의해 제작 됨";
}

kita-fps {
    position: absolute;
    width: fit-content;
    height: fit-content;
    z-index: 100;
    bottom: 0;
    right: 0;
    background: #00000050;
}