* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    cursor: url("../Asset/Texture/CursorArrow.png"), auto;

    image-rendering: optimizeSpeed;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

.debugmode *:not(kita-logger, kita-fps, pre, kita-version, var-monitor, var-monitor *) {
    border: 1px solid #ff000040 !important;
}

.debugmode *:hover:not(kita-logger, kita-fps, pre, kita-version, var-monitor, var-monitor *) {
    border: 1px solid #ffff0080 !important;
}

.reduce-mode * {
    animation: none !important;
    transition: none !important;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background: #000;
}

kita-layer {
    position: absolute;
    width: 100%;
    height: calc(100vw / (16 / 9));
    max-height: 100%;
    max-width: calc(100vh / (9 / 16));
    overflow: hidden;
    background: #000;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
}

kita-logger {
    display: none;
}

.debugmode kita-logger {
    position: absolute;
    height: 20rem;
    z-index: 100;
    text-align: left;
    font-family: monospace;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #ffffff;
    font-size: 0.75rem;
    overflow-x: hidden;
    overflow-y: visible;
    bottom: 0;
    pointer-events: none;
}

kita-fps {
    display: none;
}

.debugmode kita-fps {
    position: absolute;
    width: fit-content;
    height: fit-content;
    display: block;
    z-index: 100;
    bottom: 0;
    right: 0;
    background: #00000050;
    pointer-events: none;
}

.warning {
    background: #ffff00 !important;
    color: #000000 !important;
    font-weight: bold !important;
}

.error {
    background: #ff0000 !important;
    color: #000000 !important;
    font-weight: bold !important;
}

.warp1 {
    color: #006ee4 !important;
}

.warp2 {
    color: #94b6ff !important;
}

.warp3 {
    color: #3eff9f !important;
}

pre {
    background: #00000050;
    width: fit-content;
    margin: 0;
    padding: 0;
}

kita-version {
    display: none;
    pointer-events: none;
}

.debugmode kita-version {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    font-family: monospace;
    color: #FFFFFF;
    font-size: 0.75rem;
    white-space: pre-line;
    z-index: 100;
}

.debugmode kita-version::before {
    color: #ffff00;
    font-size: 1.2rem;
    content: "KITA ENGINE v705 - Produced by PLAYLABS (KANG CHANYOUNG) \A THIS IS A DEVELOPMENT VERSION. THE FINAL VERSION MAY DIFFER. DO NOT DISTRIBUTE.";
}

var-monitor {
    display: none;
}

var-monitor .db-btn {
    position: fixed;
    right: 0;
    top: 0;
    border: none;
    background: #00000050;
    font-family: monospace;
    color: #ffffff;
}

var-monitor .db-btn:hover {
    background: #ffffff;
    color: #000000;
}

.debugmode var-monitor {
    position: absolute;
    width: 480px;
    height: 20rem;
    display: flex;
    right: 0;
    top: 0;
    z-index: 100;
    justify-content: start;
    overflow-y: scroll;
    overflow-x: none;
    flex-direction: column;
}

.m-item {
    position: relative;
    height: 1rem;
    background: #00000050;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.25rem;
}

.m-title,
.m-value {
    font-family: monospace;
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.7rem;
}

.m-title {
    width: 20%;
    text-align: right;
    font-weight: bold;
}

.m-value {
    width: calc(80% - 0.5rem);
    text-align: left;
    margin-left: 0.5rem;
    opacity: 0.75;
    overflow-x: scroll;
}